Repository iulspop/sati: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

refactor: enable swap space using fly.toml
  fly.toml
  start.sh
Due: none

refactor: rename fly app to sati
  fly.toml
Due: none

fix: set fly region to montreal
  fly.toml
Due: none

docs: update app name
  README.md
Due: prettier --write

refactor: remove unused defaults fly.toml
  fly.toml
Due: none

docs: typo
  README.md
Due: prettier --write

docs: rephrase
  README.md
Due: prettier --write

feat: only support dark mode
  app/root.tsx
  tailwind.config.js
Due: eslint, prettier --write

feat: style edit question form
  app/routes/_home.questions_.$questionId/edit-question-form-component.tsx
Due: eslint, prettier --write

feat: add question answers table component
  app/routes/_home.questions_.$questionId/question-answers-table-component.tsx
  app/routes/_home.questions_.$questionId/questions-answers-table-component.test.tsx
Due: eslint, prettier --write

feat: load question answers in questions/:id route
  app/routes/_home.questions_.$questionId/question-answers-table-component.tsx
  app/routes/_home.questions_.$questionId/route.tsx
  playwright/e2e/questions.spec.ts
Due: eslint, prettier --write

feat: add header to question answers table
  app/routes/_home.questions_.$questionId/question-answers-table-component.test.tsx
  app/routes/_home.questions_.$questionId/question-answers-table-component.tsx
Due: eslint, prettier --write

test: edit question form should render header
  app/routes/_home.questions_.$questionId/edit-question-form-component.test.tsx
Due: eslint, prettier --write

devx: add devx tag to commitlint settings
  .vscode/settings.json
  commitlint.config.js
Due: prettier --write

devx: add question answers to dev db seed
  prisma/seed.ts
Due: prettier --write

feat: style QuestionAnswersTable
  app/routes/_home.questions_.$questionId/question-answers-table-component.tsx
Due: eslint, prettier --write

fix: color contrast not found page and index page dark mode
  app/not-found-component.tsx
  app/routes/_index.tsx
Due: eslint, prettier --write

test: update landing page spec
  playwright/e2e/landing.spec.ts
Due: prettier --write

test: fix unit under test name
  app/routes/_home.questions_.$questionId/question-answers-table-component.test.tsx
Due: eslint, prettier --write

feat: static LastWeekAnswersTableComponent
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
  app/self-data-collection/domain/entities/recurring-question.ts
Due: eslint, prettier --write

feat: add LastWeekAnswersTableComponent() dynamic by questions
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

feat: wip make LastWeekAnswersTableComponent() date column headers dynamic
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

feat: wip make LastWeekAnswersTableComponent() days since start dynamic
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

refactor: the LastWeekAnswersTableComponent()
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
Due: eslint, prettier --write

refactor: the LastWeekAnswersTableComponent()
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

fix: getPreviousSevenDays() func
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

feat: wip LastWeekAnswersTableComponent
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

refactor: x LastWeekAnswersTableComponent test
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
Due: eslint, prettier --write

devx: change prettier line width to 150
  app/entry.server.tsx
  app/not-found-component.tsx
  app/root.tsx
  app/routes/_auth.login/route.integration.test.ts
  app/routes/_auth.login/route.tsx
  app/routes/_auth.login/user-authentication-component.test.tsx
  app/routes/_auth.login/user-authentication-component.tsx
  app/routes/_home.questions/route.tsx
  app/routes/_home.questions_.$questionId/question-answers-table-component.tsx
  app/routes/_home.questions_.create/create-question-form-component.tsx
  app/routes/_home.questions_.create/route.tsx
  app/routes/_home.queue/prompt-list-component.test.tsx
  app/routes/_home/route.tsx
  app/routes/_index.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
  app/self-data-collection/domain/entities/answer.ts
  app/self-data-collection/domain/entities/recurring-question.ts
  app/self-data-collection/domain/services/prompt-queue.ts
  app/self-data-collection/domain/services/recurring-questions.ts
  app/self-data-collection/infrastructure/user-profile-model.server.ts
  app/test/setup-test-environment.ts
  app/test/user-profile-factories.server.ts
  app/utils/api-helpers.server.ts
  app/utils/class-names.ts
  app/utils/get-error-message.ts
  app/utils/get-safe-redirect-destination.server.test.ts
  app/utils/get-search-parameter-from-request.test.ts
  app/utils/get-search-parameter-from-request.ts
  commitlint.config.js
  playwright/e2e/landing.spec.ts
  playwright/e2e/login.spec.ts
  playwright/e2e/not-found.spec.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  prettier.config.js
  prisma/seed.ts
Due: eslint, prettier --write

feat: complete LastWeekAnswersTableComponent()
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

fix: add key to answerCell list
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
Due: eslint, prettier --write

feat: style report-cards/:id page
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/routes/report-cards.$reportCardId/route.tsx
Due: eslint, prettier --write

refactor: add zod PromptSchema and use zod.parse in queue/ route
  app/routes/_home.questions_.$questionId/route.tsx
  app/routes/_home.queue/route.tsx
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.test.tsx
  app/self-inquiry/domain/services/prompt-queue.ts
  app/self-inquiry/domain/value-objects/prompt.ts
  app/self-inquiry/infrastructure/answer-repository.server.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint, prettier --write

fix: zod transform timestamp to Date
  app/self-inquiry/domain/value-objects/prompt.ts
Due: eslint, prettier --write

refactor: add zod schema for question, answer and answersGroupedByQuestion
  app/routes/report-cards.$reportCardId/last-week-answers-table-component.tsx
  app/self-inquiry/domain/entities/answer.ts
  app/self-inquiry/domain/entities/recurring-question.ts
Due: eslint, prettier --write

feat: load iulius data into report-card/test-meditation-report-card
  app/routes/report-cards.$reportCardId/route.tsx
  app/routes/report-cards.test-meditation-report-card/last-week-answers-table-component.test.tsx
  app/routes/report-cards.test-meditation-report-card/last-week-answers-table-component.tsx
  app/routes/report-cards.test-meditation-report-card/route.tsx
  app/self-inquiry/domain/services/answers.ts
  app/self-inquiry/infrastructure/answer-repository.server.ts
Due: eslint, prettier --write

fix: remove wrong invariant
  app/routes/report-cards.test-meditation-report-card/route.tsx
Due: eslint, prettier --write

fix: x LastWeekAnswersTableComponent should account for empty questions list case
  app/routes/report-cards.test-meditation-report-card/last-week-answers-table-component.test.tsx
  app/routes/report-cards.test-meditation-report-card/last-week-answers-table-component.tsx
Due: eslint, prettier --write

feat: style LastWeekAnswersTableComponent for mobile
  app/routes/report-cards.test-meditation-report-card/last-week-answers-table-component.tsx
Due: eslint, prettier --write

Path conditions:
  eslint: any of: app/**
  prettier --write: any of: *.{ts,tsx,js,html,json,md}
