Repository iulspop/sati: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "app/**": "eslint",
  "*.{ts,tsx,js,html,json,md}": "prettier --write"
}

feat: group prompts by timestamp & client timezone
  .vscode/settings.json
  app/routes/queue/prompt-list-component.test.tsx
  app/routes/queue/prompt-list-component.tsx
  app/routes/queue/route.tsx
  playwright/e2e/landing.spec.ts
  playwright/e2e/login.spec.ts
  playwright/e2e/not-found.spec.ts
  playwright/e2e/queue.spec.ts
Due: eslint, prettier --write

feat: style /queue route
  app/routes/queue/home-page-component.tsx
  app/routes/queue/prompt-card-component.tsx
  app/routes/queue/prompt-list-component.tsx
  app/tailwind.css
Due: eslint, prettier --write

chore: cleanup tailwind.css
  app/tailwind.css
  package-lock.json
  package.json
Due: eslint, prettier --write

fix: tailwind dark mode text
  app/routes/queue/home-page-component.tsx
  app/routes/queue/prompt-list-component.tsx
Due: eslint, prettier --write

docs: add running tests section to README
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore: ignore prs vscode
  .vscode/settings.json
Due: prettier --write

test: remove unnecessary networkidle timeout
  playwright/e2e/login.spec.ts
Due: prettier --write

chore: upgrade @magic-sdk/admin
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade magic-sdk
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade all packages
  package.json
Due: prettier --write

chore: remove unused happy-dom vitest env
  package-lock.json
  package.json
  vitest.config.integration.ts
Due: prettier --write

chore: remove unused vitest coverage package and deprecated settings
  package-lock.json
  package.json
  vitest.config.integration.ts
  vitest.config.ts
Due: prettier --write

chore: fix test warning message due to action without return value
  app/routes/queue/prompt-card-component.test.tsx
Due: eslint, prettier --write

chore: fix eslint warnings
  app/routes/queue/convert-answer-format.ts
  app/routes/queue/prompt-card-component.test.tsx
  app/routes/queue/prompt-list-component.test.tsx
  app/routes/queue/prompt-list-component.tsx
  app/routes/queue/route.tsx
  app/test/setup-test-environment.ts
  playwright/e2e/queue.spec.ts
Due: eslint, prettier --write

build: pre-commit hook fail on eslint warnings
  .lintstagedrc.mjs
Due: none

chore: update vitest assertions type extend
  app/test/setup-test-environment.ts
Due: eslint, prettier --write

chore: remove unused @ts-expect-error
  app/utils/api-helpers.server.test.ts
Due: eslint, prettier --write

chore: update remix tailwind config
  remix.config.js
Due: prettier --write

docs: Add Inquire description to README.
  README.md
Due: prettier --write

feat: add question card component
  app/routes/questions/question-card-component.test.tsx
  app/routes/questions/question-card-component.tsx
Due: eslint, prettier --write

feat: add question list component
  app/routes/questions/question-card-component.test.tsx
  app/routes/questions/question-list-component.test.tsx
  app/routes/questions/question-list-component.tsx
Due: eslint, prettier --write

feat: add simple questions page
  .vscode/settings.json
  app/routes/questions/route.tsx
  playwright/e2e/questions.spec.ts
Due: eslint, prettier --write

refactor: extract home page component to nested layout
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-card-component.tsx
  app/routes/_home.questions/question-list-component.test.tsx
  app/routes/_home.questions/question-list-component.tsx
  app/routes/_home.questions/route.tsx
  app/routes/_home.queue/convert-answer-format.ts
  app/routes/_home.queue/prompt-card-component.test.tsx
  app/routes/_home.queue/prompt-card-component.tsx
  app/routes/_home.queue/prompt-list-component.test.tsx
  app/routes/_home.queue/prompt-list-component.tsx
  app/routes/_home.queue/route.tsx
  app/routes/_home/home-page-component.test.tsx
  app/routes/_home/home-page-component.tsx
  app/routes/_home/route.test.tsx
  app/routes/_home/route.tsx
Due: eslint, prettier --write

refactor: inline home page component in nested layout route
  app/routes/_home/home-page-component.test.tsx
  app/routes/_home/home-page-component.tsx
  app/routes/_home/route.test.tsx
  app/routes/_home/route.tsx
Due: eslint, prettier --write

refactor: move not found component out of features
  app/not-found-component.test.tsx
  app/not-found-component.tsx
  app/root.tsx
Due: eslint, prettier --write

refactor: move user profile utils to app/test dir
  app/routes/login.integration.test.ts
  app/routes/login.tsx
  app/test/user-profile/user-profile-factories.server.ts
  app/test/user-profile/user-profile-helpers.server.integration.test.ts
  app/test/user-profile/user-profile-helpers.server.ts
  app/test/user-profile/user-profile-model.server.ts
  playwright/e2e/landing.spec.ts
  playwright/e2e/login.spec.ts
  playwright/e2e/not-found.spec.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  playwright/utils.ts
Due: eslint, prettier --write

refactor: move user auth utils to _auth
  app/routes/_auth.login/route.integration.test.ts
  app/routes/_auth.login/route.tsx
  app/routes/_auth.logout/route.ts
  app/routes/_auth/magic-admin.server.ts
  app/routes/_auth/user-authentication-component.test.tsx
  app/routes/_auth/user-authentication-component.tsx
  app/routes/_auth/user-authentication-session.server.ts
  app/routes/_home.questions/route.tsx
  app/routes/_home.queue/route.tsx
  app/routes/_landing._index.tsx
  playwright/e2e/login.spec.ts
  playwright/utils.ts
Due: eslint, prettier --write

refactor: remove _landing segment from _index page
  app/routes/_index.tsx
Due: eslint, prettier --write

fix: login e2e test login loader route
  playwright/e2e/login.spec.ts
Due: prettier --write

feat: add create question form component
  app/routes/_home.questions/create-question-form-component.test.tsx
  app/routes/_home.questions/create-question-form-component.tsx
Due: eslint, prettier --write

feat: add questions/create route except no action
  app/routes/_home.questions/create-question-form-component.tsx
  app/routes/_home.questions_.create/create-question-form-component.test.tsx
  app/routes/_home.questions_.create/create-question-form-component.tsx
  app/routes/_home.questions_.create/route.tsx
Due: eslint, prettier --write

feat: add cancel link to create question form
  app/routes/_home.questions_.create/create-question-form-component.test.tsx
  app/routes/_home.questions_.create/create-question-form-component.tsx
Due: eslint, prettier --write

refactor: move user auth component to login/ route
  app/routes/_auth.login/user-authentication-component.test.tsx
  app/routes/_auth.login/user-authentication-component.tsx
Due: eslint, prettier --write

fix: component import path
  app/routes/_auth.login/route.tsx
Due: eslint, prettier --write

refactor: move user profile utils out of test
  app/routes/_auth.login/route.integration.test.ts
  app/routes/_auth.login/route.tsx
  app/routes/_auth.login/user-profile/user-profile-factories.server.ts
  app/routes/_auth.login/user-profile/user-profile-helpers.server.integration.test.ts
  app/routes/_auth.login/user-profile/user-profile-helpers.server.ts
  app/routes/_auth.login/user-profile/user-profile-model.server.ts
  playwright/e2e/landing.spec.ts
  playwright/e2e/login.spec.ts
  playwright/e2e/not-found.spec.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  playwright/utils.ts
Due: eslint, prettier --write

chore: remove unused self-observability domain prisma models
  prisma/migrations/20230527143538_remove_unused_slo_models/migration.sql
  prisma/schema.prisma
Due: none

docs: specify how to show tsc errors in problems tab
  README.md
Due: prettier --write

docs: fix typo
  README.md
Due: prettier --write

feat: scope recurring questions by user
  app/domains/self-data-collection/domain/entities/recurring-question.ts
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.server.ts
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-list-component.test.tsx
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  playwright/utils.ts
  prisma/migrations/20230527161354_scope_recurring_questions_to_user/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint, prettier --write

refactor: move repository api to domain/infra/
  app/domains/self-data-collection/domain/index.server.ts
  app/domains/self-data-collection/domain/repositories/answer-repository.ts
  app/domains/self-data-collection/domain/repositories/recurring-question-repository.ts
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/answers.ts
  app/domains/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
  app/domains/self-data-collection/infrastructure/answer-repository.server.ts
  app/domains/self-data-collection/infrastructure/recurring-question-repository.server.ts
Due: eslint, prettier --write
