Repository iulspop/sati: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Quick commit
  fly.toml
Due: none

Add healthcheck route
  .eslintrc.js
  app/routes/healthcheck.tsx
Due: eslint, prettier --write

Quick commit
  start.sh
Due: none

Update README with deploy info
  README.md
Due: prettier --write

Quick commit
  README.md
Due: prettier --write

Use Node v18 in actions
  .github/workflows/deploy.yml
Due: none

Switch to prisma migrate
  README.md
  package.json
  prisma/migrations/20230219225348_/migration.sql
  prisma/migrations/migration_lock.toml
  start.sh
Due: prettier --write

Update prettier config and lint
  .eslintrc.js
  .prettierrc.json
  .vscode/settings.json
  app/routes/healthcheck.tsx
  prettier.config.js
Due: eslint, prettier --write

Simplify landing page
  app/routes/_index.tsx
  app/routes/stuff/index.tsx
  app/routes/stuff/queue.tsx
  app/routes/stuff/queue/edit.tsx
  app/routes/stuff/queue/edit/$recurringQuestionId.tsx
  app/routes/stuff/queue/edit/add.tsx
  public/locales/de/landing.json
  public/locales/en/landing.json
Due: eslint, prettier --write

Remove de translation & change app-name to Inquire
  app/features/localization/i18n.ts
  app/features/not-found/not-found-component.test.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/utils/get-page-title.server.test.ts
  playwright/e2e/home/home.spec.ts
  playwright/e2e/landing/landing.spec.ts
  playwright/e2e/not-found/not-found.spec.ts
  playwright/e2e/user-authentication/user-authentication.spec.ts
  playwright/e2e/user-profile/user-profile.spec.ts
  public/locales/de/common.json
  public/locales/de/home.json
  public/locales/de/landing.json
  public/locales/de/user-authentication.json
  public/locales/de/user-profile.json
  public/locales/en/common.json
  public/locales/en/landing.json
Due: eslint, prettier --write

Simplify home page and not found
  app/features/home/home-page-component.tsx
  app/features/not-found/not-found-component.test.tsx
  app/features/not-found/not-found-component.tsx
  app/features/user-profile/user-profile-component.test.tsx
  app/features/user-profile/user-profile-component.tsx
  app/root.tsx
  app/routes/home.tsx
  playwright/e2e/not-found/not-found.spec.ts
  public/locales/en/home.json
Due: eslint, prettier --write

Simplify home and delete user settings page
  app/features/home/home-page-component.tsx
  app/features/user-profile/user-profile-component.test.tsx
  app/features/user-profile/user-profile-component.tsx
  app/routes/home.tsx
  app/routes/settings.profile.tsx
  playwright/e2e/home/home.spec.ts
  playwright/e2e/user-profile/user-profile.spec.ts
  public/locales/en/home.json
Due: eslint, prettier --write

Make used import lint error
  .eslintrc.js
  app/features/home/home-page-component.tsx
Due: eslint, prettier --write

Use list intead of Array
  app/features/home/home-page-component.tsx
Due: eslint, prettier --write

Remove unused Inquire components
  app/components/prompt-component.tsx
  app/components/slo-component.test.tsx
  app/components/slo-component.tsx
Due: eslint, prettier --write

Lint then typecheck pre-commit
  .husky/pre-commit
Due: none

Delete unused Form component
  app/components/form-component.test.ts
  app/components/form-component.tsx
Due: eslint, prettier --write

Use one db client file
  app/database.server.ts
  app/domains/db.server.ts
  app/domains/self-data-collection/domain/services/answers.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.test.ts
  app/domains/self-data-collection/infrastructure/answer-prisma.ts
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.ts
  app/domains/self-observability/domain/services/monitor.test.ts
  app/domains/self-observability/domain/services/slos.test.ts
  app/domains/self-observability/domain/services/streams.test.ts
  app/domains/self-observability/infrastructure/event-prisma.ts
  app/domains/self-observability/infrastructure/slo-prisma.ts
  app/domains/self-observability/infrastructure/stream-prisma.ts
  app/features/user-profile/user-profile-model.server.ts
  app/routes/healthcheck.tsx
  templates/app/features/feature/feature-model.server.hbs
Due: eslint, prettier --write

Remove commitlint config
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

Run lint fix on pre-commit
  .husky/pre-commit
Due: none

Delete VSCode config
  .vscode/settings.json
Due: prettier --write

Move development process docs to CONTRIBUTING
  CONTRIBUTING.md
  README.md
  docs/adr/0001-record-architecture-decisions.md
  docs/adr/0002-move-remix-to-top-level.md
Due: prettier --write

build: add commitlint config & docs
  .husky/commit-msg
  .vscode/settings.json
  CONTRIBUTING.md
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

docs: fix broken CONTRIBUTING links
  CONTRIBUTING.md
Due: prettier --write

docs: remove header emojis
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: fix typos
  CONTRIBUTING.md
Due: prettier --write

build: reorder npm scripts
  package.json
Due: prettier --write

build: rename db scripts and add missing setup script
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

docs: fix comment typo in Dockerfile
  Dockerfile
Due: none

build: separate dev and test dbs
  .env.example
  .env.test
  .gitignore
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

style: add cSpell words for libraries
  .vscode/settings.json
Due: prettier --write

build: reorder tsconfig options
  tsconfig.json
Due: prettier --write

ci: fix npm script name
  .github/workflows/deploy.yml
Due: none

ci: fix type check script name
  .github/workflows/deploy.yml
Due: none

fix: use dotenv-cli npm package
  package-lock.json
  package.json
Due: prettier --write

docs: correct CD DATABASE_URL env var
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  eslint: any of: app/**
  prettier --write: any of: *.{ts,tsx,js,html,json,md}
