Repository iulspop/sati: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Refactor self-data-collection imports/exports
  app/domains/self-data-collection/domain/entities/answer.ts
  app/domains/self-data-collection/domain/entities/recurring-question.ts
  app/domains/self-data-collection/domain/index.ts
  app/domains/self-data-collection/domain/repositories/answer-repository.ts
  app/domains/self-data-collection/domain/repositories/recurring-question-repository.ts
  app/domains/self-data-collection/domain/services/prompt-queue.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.ts
  app/domains/self-data-collection/domain/value-objects/prompt.ts
  app/domains/self-data-collection/infrastructure/answer-prisma.ts
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.ts
  app/domains/self-observability/domain/index.txt
  app/domains/self-observability/domain/services/monitor.test.ts
Due: eslint, prettier --write

Upgrade self-data-collection entities id to cuid2
  app/domains/self-data-collection/domain/entities/answer.ts
  app/domains/self-data-collection/domain/entities/recurring-question.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

Add space line
  app/domains/self-data-collection/domain/entities/answer.ts
Due: eslint, prettier --write

Create recurring-questions CRUD service
  app/domains/self-data-collection/domain/repositories/recurring-question-repository.ts
  app/domains/self-data-collection/domain/services/prompt-queue.ts
  app/domains/self-data-collection/domain/services/recurring-questions.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.ts
Due: eslint, prettier --write

Extract answers to own service
  app/domains/self-data-collection/domain/repositories/answer-repository.ts
  app/domains/self-data-collection/domain/repositories/recurring-question-repository.ts
  app/domains/self-data-collection/domain/services/answers.test.ts
  app/domains/self-data-collection/domain/services/answers.ts
  app/domains/self-data-collection/domain/services/prompt-queue.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
  app/domains/self-data-collection/infrastructure/answer-prisma.ts
  prisma/migrations/20230211151752_cascade_delete_answers/migration.sql
  prisma/schema.prisma
Due: eslint, prettier --write

Add test to default to last order
  app/domains/self-data-collection/domain/services/recurring-questions.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
Due: eslint, prettier --write

Remove CRUD from PromptQueue service
  app/domains/self-data-collection/domain/services/prompt-queue.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.ts
Due: eslint, prettier --write

Update self-data-collection index
  app/domains/self-data-collection/domain/index.ts
Due: eslint, prettier --write

Add phase to question update
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.ts
Due: eslint, prettier --write

Run typecheck on commit
  .lintstagedrc.json
  app/domains/self-observability/infrastructure/inquire-direct-function-call.ts
  app/routes/index.tsx
  lint-staged.config.js
  package.json
  tsconfig.json
Due: eslint, prettier --write

Update packages
  package-lock.json
  package.json
Due: prettier --write

Load questions by date
  app/domains/self-data-collection/domain/index.ts
  app/domains/self-observability/infrastructure/inquire-direct-function-call.ts
  app/routes/index.tsx
  lint-staged.config.mjs
  package-lock.json
  package.json
Due: eslint, prettier --write

Quick commit
  app/routes/index.tsx
Due: eslint, prettier --write

Add can submit answers
  app/components/prompt.tsx
  app/routes/index.tsx
Due: eslint, prettier --write

Add edit routes to queue
  app/routes/index.tsx
  app/routes/queue.tsx
  app/routes/queue/edit.tsx
  app/routes/queue/edit/$recurringQuestionId.tsx
  app/routes/queue/edit/add.tsx
Due: eslint, prettier --write

Reuse Prisma client on Remix dev reload
  app/domains/db.server.ts
  app/domains/self-data-collection/domain/services/answers.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.test.ts
  app/domains/self-data-collection/infrastructure/answer-prisma.ts
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.ts
  app/domains/self-observability/domain/services/monitor.test.ts
  app/domains/self-observability/domain/services/slos.test.ts
  app/domains/self-observability/domain/services/streams.test.ts
  app/domains/self-observability/infrastructure/event-prisma.ts
  app/domains/self-observability/infrastructure/slo-prisma.ts
  app/domains/self-observability/infrastructure/stream-prisma.ts
  app/routes/queue/edit.tsx
  app/routes/queue/edit/$recurringQuestionId.tsx
Due: eslint, prettier --write

Upgrade packages
  package.json
Due: prettier --write

Remove prisma logging
  app/domains/db.server.ts
Due: eslint, prettier --write

refactor: fix slo component props typo
  app/components/slo.test.tsx
  app/components/slo.tsx
Due: eslint, prettier --write

fix: fix isolation problems react testing library
  app/components/form-component.test.ts
  app/components/slo.test.tsx
  app/features/user-profile/user-profile-component.test.tsx
  vitest.config.ts
Due: eslint, prettier --write

chore: upgrade happydom
  package-lock.json
  package.json
Due: prettier --write

chore: remove unecessary ts-ignore
  app/domains/self-data-collection/domain/services/prompt-queue.ts
  app/routes/login.tsx
  app/test/setup-test-environment.ts
Due: eslint, prettier --write

chore: run format
  .eslintrc.js
  app/domains/self-data-collection/domain/services/answers.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
  app/domains/self-observability/domain/services/slos.ts
  app/domains/self-observability/domain/services/streams.ts
  app/routes/login.tsx
  app/routes/stuff/index.tsx
  app/routes/stuff/queue.tsx
  app/routes/stuff/queue/edit.tsx
  app/utils/get-page-title.server.ts
  plopfile.js
Due: eslint, prettier --write

chore: allow db abbreviation
  .eslintrc.js
  app/domains/database.server.ts
  app/domains/db.server.ts
  app/domains/self-data-collection/domain/services/answers.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.test.ts
  app/domains/self-data-collection/infrastructure/answer-prisma.ts
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.ts
  app/domains/self-observability/domain/services/monitor.test.ts
  app/domains/self-observability/domain/services/slos.test.ts
  app/domains/self-observability/domain/services/streams.test.ts
  app/domains/self-observability/infrastructure/event-prisma.ts
  app/domains/self-observability/infrastructure/slo-prisma.ts
  app/domains/self-observability/infrastructure/stream-prisma.ts
Due: eslint, prettier --write

fix: act warnings
  app/features/not-found/not-found-component.test.tsx
  app/features/user-authentication/user-authentication-component.test.tsx
  app/features/user-profile/user-profile-component.test.tsx
Due: eslint, prettier --write

chore: delete unused github actions
  .github/dependabot.yml
  .github/workflows/pull-request.yml
Due: none

chore: Rename files to match convention
  app/components/prompt-component.tsx
  app/components/slo-component.test.tsx
  app/components/slo-component.tsx
  app/routes/stuff/queue.tsx
Due: eslint, prettier --write

ci: add deploy worflow WIP
  .github/workflows/deploy.yml
  .npmrc
  .vscode/settings.json
  Dockerfile
  docker-compose.yml
  fly.toml
  package-lock.json
  package.json
  start.sh
Due: prettier --write

Quick commit
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

Quick commit
  Dockerfile
Due: none

Add react hook form
  package-lock.json
  package.json
Due: prettier --write

Add executable permissions start.sh
  start.sh
Due: none

Remove compose
  docker-compose.yml
Due: none

Fix gh workflow
  .github/workflows/deploy.yml
Due: none

Quick commit
  .github/workflows/deploy.yml
Due: none

Quick commit
  fly.toml
Due: none

Path conditions:
  eslint: any of: app/**
  prettier --write: any of: *.{ts,tsx,js,html,json,md}
