Repository iulspop/sati: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "app/**": "eslint",
  "*.{ts,tsx,js,html,json,md}": "prettier --write"
}

feat: scope answers.readAll by userId
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/answers.ts
  app/domains/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.ts
  app/domains/self-data-collection/infrastructure/answer-repository.server.ts
  app/routes/_home.queue/route.tsx
Due: eslint, prettier --write

feat: scope recurringQuestions.readAll by userId
  app/domains/self-data-collection/domain/services/prompt-queue.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
  app/domains/self-data-collection/infrastructure/recurring-question-repository.server.ts
  app/routes/_home.questions/route.tsx
  prisma/seed.ts
Due: eslint, prettier --write

fix: missing userId questions/create loader
  app/routes/_home.questions_.create/route.tsx
Due: eslint, prettier --write

style: whitespace
  app/domains/self-data-collection/domain/services/answers.ts
  app/domains/self-data-collection/domain/services/recurring-questions.ts
Due: eslint, prettier --write

chore: remove unnecessary test beforeEach
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
Due: eslint, prettier --write

test: run integration tests in parallel
  README.md
  package.json
  vitest.config.integration.ts
  vitest.config.ts
Due: prettier --write

chore: remove unused user-profile-helpers
  app/routes/_auth.login/user-profile/user-profile-helpers.server.integration.test.ts
  app/routes/_auth.login/user-profile/user-profile-helpers.server.ts
Due: eslint, prettier --write

refactor: move user-profile-factories to test/ dir
  app/routes/_auth.login/route.integration.test.ts
  app/test/user-profile-factories.server.ts
  playwright/e2e/login.spec.ts
Due: eslint, prettier --write

refactor: move user-profile-model to infra/ dir
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/domains/self-data-collection/infrastructure/user-profile-model.server.ts
  app/routes/_auth.login/route.integration.test.ts
  app/routes/_auth.login/route.tsx
  playwright/e2e/landing.spec.ts
  playwright/e2e/login.spec.ts
  playwright/e2e/not-found.spec.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  playwright/utils.ts
Due: eslint, prettier --write

refactor: move self-data-collection/ out of domains/
  app/routes/_auth.login/route.integration.test.ts
  app/routes/_auth.login/route.tsx
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-card-component.tsx
  app/routes/_home.questions/question-list-component.test.tsx
  app/routes/_home.questions/question-list-component.tsx
  app/routes/_home.questions/route.tsx
  app/routes/_home.questions_.create/route.tsx
  app/routes/_home.queue/convert-answer-format.ts
  app/routes/_home.queue/prompt-card-component.test.tsx
  app/routes/_home.queue/prompt-list-component.test.tsx
  app/routes/_home.queue/prompt-list-component.tsx
  app/routes/_home.queue/route.tsx
  app/self-data-collection/domain/entities/answer.ts
  app/self-data-collection/domain/entities/recurring-question.ts
  app/self-data-collection/domain/index.server.ts
  app/self-data-collection/domain/services/answers.integration.test.ts
  app/self-data-collection/domain/services/answers.ts
  app/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/self-data-collection/domain/services/prompt-queue.ts
  app/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/self-data-collection/domain/services/recurring-questions.ts
  app/self-data-collection/domain/value-objects/prompt.ts
  app/self-data-collection/infrastructure/answer-repository.server.ts
  app/self-data-collection/infrastructure/recurring-question-repository.server.ts
  app/self-data-collection/infrastructure/user-profile-model.server.ts
  playwright/e2e/landing.spec.ts
  playwright/e2e/login.spec.ts
  playwright/e2e/not-found.spec.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  playwright/utils.ts
  prisma/seed.ts
Due: eslint, prettier --write

ci: merge integration test job with unit test job
  .github/workflows/deploy.yml
Due: none

test: tests are isolated even if cleanup fails
  app/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/self-data-collection/domain/services/recurring-questions.integration.test.ts
  playwright/e2e/queue.spec.ts
Due: eslint, prettier --write

feat: create question form submits timestamp and utcOffset
  app/routes/_home.questions_.create/create-question-form-component.test.tsx
  app/routes/_home.questions_.create/create-question-form-component.tsx
Due: eslint, prettier --write

ci: add gitpod config
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

docs: add gitpod quickstart
  README.md
Due: prettier --write

chore: update Node and NPM version
  README.md
  package-lock.json
Due: prettier --write

chore: remove unused form deps and file
  app/utils/form-action.server.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

chore: remove unused headlessui dep
  package-lock.json
  package.json
Due: prettier --write

chore: remove unused domain-function dep
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade all deps and fix issues
  .gitpod.yml
  app/test/assert.test.ts
  app/test/setup-test-environment.ts
  app/test/user-profile-factories.server.ts
  app/utils/async-pipe.ts
  app/utils/get-error-message.test.ts
  docs/adr/0002-move-remix-to-top-level.md
  package-lock.json
  package.json
  playwright/utils.ts
  prettier.config.js
  prisma/seed.ts
  vitest.config.ts
Due: eslint, prettier --write

chore: fix act warning caused by fake timer
  app/routes/_home.questions_.create/create-question-form-component.test.tsx
  app/test/setup-test-environment.ts
Due: eslint, prettier --write

fix: dark mode text color in input form
  app/routes/_home.questions_.create/create-question-form-component.tsx
Due: eslint, prettier --write

feat: add create recurring question action
  app/routes/_home.questions_.create/create-question-form-component.test.tsx
  app/routes/_home.questions_.create/create-question-form-component.tsx
  app/routes/_home.questions_.create/route.tsx
  app/self-data-collection/domain/entities/recurring-question.ts
  playwright/e2e/questions.spec.ts
Due: eslint, prettier --write

feat: redirect to questions/ after add question
  app/routes/_home.questions_.create/route.tsx
  playwright/e2e/questions.spec.ts
Due: eslint, prettier --write

feat: style question card component
  app/routes/_home.questions/question-card-component.tsx
Due: eslint, prettier --write

feat: style add question link
  app/routes/_home.questions/question-card-component.tsx
  app/routes/_home.questions/route.tsx
  app/routes/_home/route.tsx
Due: eslint, prettier --write

feat: style add question form
  app/routes/_home.questions_.create/create-question-form-component.test.tsx
  app/routes/_home.questions_.create/create-question-form-component.tsx
  app/routes/_home.queue/prompt-list-component.tsx
  app/routes/_home/route.tsx
  playwright/e2e/questions.spec.ts
Due: eslint, prettier --write

fix: link styling contrast
  app/routes/_home.questions/route.tsx
  app/routes/_home.questions_.create/create-question-form-component.tsx
  app/routes/_home.queue/prompt-card-component.tsx
Due: eslint, prettier --write

feat: remove useless header element
  app/routes/_home/route.tsx
Due: eslint, prettier --write

test: change dev seed data to meditation
  prisma/seed.ts
Due: prettier --write

feat: add edit question form component
  app/routes/_home.questions_.$questionId/edit-question-form-component.test.tsx
  app/routes/_home.questions_.$questionId/edit-question-form-component.tsx
Due: eslint, prettier --write

refactor: question card component props
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-card-component.tsx
  app/routes/_home.questions/question-list-component.tsx
Due: eslint, prettier --write

refactor: change component unit under test name convention
  app/not-found-component.test.tsx
  app/routes/_auth.login/user-authentication-component.test.tsx
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-list-component.test.tsx
  app/routes/_home.questions_.$questionId/edit-question-form-component.test.tsx
  app/routes/_home.questions_.create/create-question-form-component.test.tsx
  app/routes/_home.queue/prompt-card-component.test.tsx
  app/routes/_home.queue/prompt-list-component.test.tsx
Due: eslint, prettier --write

refactor: remove unnecessary await networkidle
  playwright/e2e/queue.spec.ts
Due: prettier --write

refactor: change question.question prop to question.text
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-card-component.tsx
  app/routes/_home.questions/question-list-component.test.tsx
  app/routes/_home.questions_.$questionId/edit-question-form-component.test.tsx
  app/routes/_home.questions_.$questionId/edit-question-form-component.tsx
  app/routes/_home.questions_.create/route.tsx
  app/self-data-collection/domain/entities/recurring-question.ts
  app/self-data-collection/domain/services/answers.integration.test.ts
  app/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/self-data-collection/domain/services/prompt-queue.ts
  app/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/self-data-collection/infrastructure/recurring-question-repository.server.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  prisma/migrations/20230916214653_rename_question_column_to_text/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint, prettier --write

feat: add questions/:id page with delete button
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-card-component.tsx
  app/routes/_home.questions/question-list-component.test.tsx
  app/routes/_home.questions_.$questionId/route.tsx
  app/routes/_home.questions_.create/route.tsx
  app/routes/_home.queue/route.tsx
  playwright/e2e/questions.spec.ts
Due: eslint, prettier --write

refactor: inline RecurringQuestion.phase prop
  app/routes/_home.questions/question-card-component.test.tsx
  app/routes/_home.questions/question-list-component.test.tsx
  app/routes/_home.questions/route.tsx
  app/routes/_home.questions_.$questionId/edit-question-form-component.test.tsx
  app/routes/_home.questions_.$questionId/route.tsx
  app/routes/_home.questions_.create/route.tsx
  app/self-data-collection/domain/entities/recurring-question.ts
  app/self-data-collection/domain/services/answers.integration.test.ts
  app/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/self-data-collection/domain/services/prompt-queue.ts
  app/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/self-data-collection/infrastructure/recurring-question-repository.server.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  prisma/seed.ts
Due: eslint, prettier --write

refactor: append "Service" to Answers, PromptQueue and RecurringQuestions service object name
  app/routes/_home.questions/route.tsx
  app/routes/_home.questions_.$questionId/route.tsx
  app/routes/_home.questions_.create/route.tsx
  app/routes/_home.queue/route.tsx
  app/self-data-collection/domain/index.server.ts
  app/self-data-collection/domain/services/answers.integration.test.ts
  app/self-data-collection/domain/services/answers.ts
  app/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/self-data-collection/domain/services/prompt-queue.ts
  app/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/self-data-collection/domain/services/recurring-questions.ts
  app/utils/trace.ts
  playwright/e2e/questions.spec.ts
  playwright/e2e/queue.spec.ts
  prisma/seed.ts
Due: eslint, prettier --write

refactor: rename Prompt.question to Prompt.text
  app/routes/_home.queue/prompt-card-component.test.tsx
  app/routes/_home.queue/prompt-card-component.tsx
  app/routes/_home.queue/prompt-list-component.test.tsx
  app/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/self-data-collection/domain/services/prompt-queue.ts
  app/self-data-collection/domain/value-objects/prompt.ts
Due: eslint, prettier --write

fix: enable swap space on Fly machine
  start.sh
Due: none
