Repository iulspop/sati: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "app/**": "eslint",
  "*.{ts,tsx,js,html,json,md}": "prettier --write"
}

feat: improve home page style and header
  app/features/home/home-page-component.tsx
  app/routes/home.tsx
  public/locales/en/home.json
Due: eslint, prettier --write

fix: broken e2e tests
  .vscode/settings.json
  app/routes/home.tsx
  playwright.config.ts
  playwright/e2e/not-found/not-found.spec.ts
  playwright/e2e/user-authentication/user-authentication.spec.ts
  public/locales/en/home.json
Due: eslint, prettier --write

style: format
  playwright.config.ts
Due: prettier --write

feat: remove avatar from user
  app/features/user-profile/user-profile-factories.server.ts
  app/features/user-profile/user-profile-model.server.ts
  playwright.config.ts
  playwright/utils.ts
  prisma/migrations/20230304145244_remove_avatar_from_user/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint, prettier --write

fix: playright CI
  playwright.config.ts
Due: prettier --write

build: add questions to seed script
  app/domains/self-data-collection/domain/index.ts
  package.json
  prisma/seed.ts
Due: eslint, prettier --write

style: format imports
  prisma/seed.ts
Due: prettier --write

feat: change home route to queue
  app/routes/_landing._index.tsx
  app/routes/login.test.ts
  app/routes/login.tsx
  app/routes/queue/home-page-component.tsx
  app/routes/queue/route.tsx
  playwright/e2e/landing/landing.spec.ts
  playwright/e2e/not-found/not-found.spec.ts
  playwright/e2e/queue/queue.spec.ts
  playwright/e2e/user-authentication/user-authentication.spec.ts
Due: eslint, prettier --write

style: format imports
  app/routes/queue/route.tsx
Due: eslint, prettier --write

build: remove filename case eslint rule
  .eslintrc.js
Due: prettier --write

build: remove prettier and module sort from eslint
  .eslintrc.js
  commitlint.config.js
  package-lock.json
  package.json
  plopfile.js
  prettier.config.js
  remix.config.js
  tailwind.config.js
Due: prettier --write

style: run format
  .eslintrc.js
Due: prettier --write

build: move import sort to prettier and run format
  app/domains/self-data-collection/domain/services/prompt-queue.test.ts
  app/domains/self-observability/domain/repositories/stream-repository.ts
  app/domains/self-observability/domain/services/monitor.test.ts
  app/entry.client.tsx
  app/entry.server.tsx
  app/features/localization/i18next.server.ts
  app/root.tsx
  app/routes/login.tsx
  app/test/setup-test-environment.ts
  package-lock.json
  package.json
  playwright/e2e/user-authentication/user-authentication.spec.ts
  playwright/utils.ts
  prettier.config.js
  prisma/seed.ts
Due: eslint, prettier --write

build: use lintstaged for pre-commit hook
  .husky/pre-commit
  .lintstagedrc.mjs
  package-lock.json
  package.json
Due: prettier --write

build: remove unicorn from eslint
  .eslintrc.js
  app/entry.client.tsx
  app/root.tsx
  app/routes/login.tsx
  package-lock.json
  package.json
  prisma/seed.ts
Due: eslint, prettier --write

build: remove Plop gen from template
  CONTRIBUTING.md
  package-lock.json
  package.json
  plopfile.js
  templates/app/features/feature/feature-component.hbs
  templates/app/features/feature/feature-component.test.hbs
  templates/app/features/feature/feature-model.server.hbs
  templates/playwright/e2e/feature/feature.spec.hbs
Due: prettier --write

chore: add words to spell dict
  .vscode/settings.json
Due: prettier --write

chore: remove i18n
  .vscode/settings.json
  app/entry.client.tsx
  app/entry.server.tsx
  app/features/localization/i18n.ts
  app/features/localization/i18next.server.ts
  app/features/not-found/not-found-component.test.tsx
  app/features/not-found/not-found-component.tsx
  app/features/user-authentication/user-authentication-component.test.tsx
  app/features/user-authentication/user-authentication-component.tsx
  app/root.tsx
  app/routes/_landing._index.tsx
  app/routes/login.test.ts
  app/routes/login.tsx
  app/routes/queue/home-page-component.tsx
  app/routes/queue/route.tsx
  app/test/i18n.ts
  app/test/test-utils.tsx
  app/utils/get-page-title.server.test.ts
  app/utils/get-page-title.server.ts
  package-lock.json
  package.json
  playwright/e2e/queue/queue.spec.ts
  playwright/e2e/user-authentication/user-authentication.spec.ts
  public/locales/en/common.json
  public/locales/en/home.json
  public/locales/en/landing.json
  public/locales/en/user-authentication.json
  public/locales/en/user-profile.json
  remix.config.js
Due: eslint, prettier --write

ci: make deploy job run one at a time
  .github/workflows/deploy.yml
Due: none

ci: remove unused Docker EXPOSE instrustion
  Dockerfile
Due: none

chore: remove unused test-utils file
  app/features/not-found/not-found-component.test.tsx
  app/features/user-authentication/user-authentication-component.test.tsx
  app/test/test-utils.tsx
Due: eslint, prettier --write

build: make start script work locally
  package.json
  start.sh
Due: prettier --write

test: upgrade playwright and add UI
  package-lock.json
  package.json
Due: prettier --write

test: separate unit and integration tests
  .github/workflows/deploy.yml
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/domains/self-observability/domain/services/monitor.integration.test.ts
  app/domains/self-observability/domain/services/slos.integration.test.ts
  app/domains/self-observability/domain/services/streams.integration.test.ts
  app/features/user-profile/user-profile-helpers.server.integration.test.ts
  app/routes/login.integration.test.ts
  app/test/setup-integration-test-environment.ts
  package.json
  vitest.config.integration.ts
Due: eslint, prettier --write

test: disable globals
  .vscode/settings.json
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/domains/self-observability/domain/services/monitor.integration.test.ts
  app/domains/self-observability/domain/services/slos.integration.test.ts
  app/domains/self-observability/domain/services/streams.integration.test.ts
  app/test/setup-integration-test-environment.ts
  app/test/setup-test-environment.ts
  app/utils/async-pipe.test.ts
  app/utils/async-tap.test.ts
  app/utils/class-names.test.ts
  app/utils/get-error-message.test.ts
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.integration.ts
  vitest.config.ts
Due: eslint, prettier --write

ci: run all tests sequentially to save minutes
  .github/workflows/deploy.yml
Due: none

docs: clarify why declare global matchers types
  app/test/setup-test-environment.ts
Due: eslint, prettier --write

feat: implement prompt card component
  app/routes/queue/home-page-component.tsx
  app/routes/queue/prompt-card-component.test.tsx
  app/routes/queue/prompt-card-component.tsx
  app/routes/queue/route.tsx
  package-lock.json
  vitest.config.ts
Due: eslint, prettier --write

fix: accessibility error /queue route
  app/routes/queue/route.tsx
Due: eslint, prettier --write

feat: add prompt list component
  app/routes/queue/prompt-card-component.test.tsx
  app/routes/queue/prompt-card-component.tsx
  app/routes/queue/prompt-list-component.test.tsx
  app/routes/queue/prompt-list-component.tsx
  app/routes/queue/route.tsx
Due: eslint, prettier --write

ci: run tests in CI only on desktop chromium
  playwright.config.ts
Due: prettier --write

test: refactor e2e tests
  playwright/e2e/landing.spec.ts
  playwright/e2e/landing/landing.spec.ts
  playwright/e2e/login.spec.ts
  playwright/e2e/not-found.spec.ts
  playwright/e2e/not-found/not-found.spec.ts
  playwright/e2e/queue.spec.ts
  playwright/e2e/queue/queue.spec.ts
Due: prettier --write

ci: use npx to start remix-serve
  package.json
  start.sh
Due: prettier --write

build: use separate db e2e & refactor db scripts
  .env.e2e
  .env.example
  README.md
  package.json
Due: prettier --write

feat: implement /queue route
  app/database.server.ts
  app/domains/self-data-collection/domain/index.server.ts
  app/domains/self-data-collection/domain/services/answers.integration.test.ts
  app/domains/self-data-collection/domain/services/prompt-queue.integration.test.ts
  app/domains/self-data-collection/domain/services/recurring-questions.integration.test.ts
  app/domains/self-data-collection/infrastructure/answer-prisma.server.ts
  app/domains/self-data-collection/infrastructure/recurring-question-prisma.server.ts
  app/domains/self-observability/infrastructure/inquire-direct-function-call.ts
  app/routes/_landing._index.tsx
  app/routes/queue/convert-answer-format.ts
  app/routes/queue/prompt-card-component.test.tsx
  app/routes/queue/prompt-card-component.tsx
  app/routes/queue/route.tsx
  package.json
  playwright.config.ts
  playwright/e2e/queue.spec.ts
  playwright/utils.ts
  prisma/seed.ts
Due: eslint, prettier --write

style: use null for empty Response body
  app/routes/login.tsx
Due: eslint, prettier --write

chore: delete unused self-observability domain
  app/domains/self-observability/domain/entities/event.ts
  app/domains/self-observability/domain/entities/slo.ts
  app/domains/self-observability/domain/entities/stream.ts
  app/domains/self-observability/domain/index.txt
  app/domains/self-observability/domain/repositories/event-repository.ts
  app/domains/self-observability/domain/repositories/inquire-repository.ts
  app/domains/self-observability/domain/repositories/slo-repository.ts
  app/domains/self-observability/domain/repositories/stream-repository.ts
  app/domains/self-observability/domain/services/monitor.integration.test.ts
  app/domains/self-observability/domain/services/monitor.ts
  app/domains/self-observability/domain/services/slos.integration.test.ts
  app/domains/self-observability/domain/services/slos.ts
  app/domains/self-observability/domain/services/streams.integration.test.ts
  app/domains/self-observability/domain/services/streams.ts
  app/domains/self-observability/infrastructure/event-prisma.ts
  app/domains/self-observability/infrastructure/inquire-direct-function-call.ts
  app/domains/self-observability/infrastructure/slo-prisma.ts
  app/domains/self-observability/infrastructure/stream-prisma.ts
Due: eslint, prettier --write

ci: wipe and setup only dev db
  .github/workflows/deploy.yml
Due: none

build: start Remix server for e2e tests separately
  package.json
  playwright.config.ts
Due: prettier --write
